/* made css for the padding and margin 0*/
*{
    margin:0;
    padding:0;   
 }
/* css for body section */
 body{
     height:100vh;
 }
/* css for the nav section*/
 nav{
    display:flex;
    flex-direction:row;  
    width:100%;  
    height:12vh;
    background-color:#FEDE00;
}
/* css for the nav container */
.nav-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
}
.nav-logo i{
   margin:6px;
    color:black;
    font-size:40px;
    padding:10px;
}
.nav-logo span{
    font-size:2rem;
    color:black;
}
/* css for the right section of the nav */
.nav-right{
    width:70%;
    display:flex;
    justify-content:space-around;
}
/* css for the input section of the nav */
.nav-input-container{
    display:flex;
    justify-content:center;
    align-items:center;
    color:black;
}
.nav-input-container input{
    padding:10px;
    width:360px;
    border:none;
    border-radius:20px 0px 0px 20px;
    align-items: center;
    font-size:1.4rem;
    color:black;
}
.nav-input-container input:focus{
    outline:none;
}
.nav-input-container button{
    background-color:white;
     height:46px;
     width:60px;
     padding:8px;
     color:black;
     margin-right:10px;
     border:none;
     outline:none;
     border-radius:0px 20px 20px 0px;
}
/* css for the meal section of the nav */
.nav-meal{
    position: relative;
}
.nav-meal a{
    color:black;
   font-size:2.5rem;
   text-decoration:none;
   padding:8px;
   position: absolute;
   top:5px;
  
}
/* css for the like section of the nav */
.like-button i{
    color:orangered;
    font-size:50px;
    padding:5px;
    margin-top:10px;
    position:relative;
}

.like-button span{
   position:absolute;
   color:black;
   font-size:1.6rem;
   left:82.6%;
   top:5px;
   z-index:1;
   font-weight:700;
}

/* main-section */

#display_common_food{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}
.container-main-meals{
    height:400px;
    width:350px;
    /* border:2px solid white;*/
    margin:20px;
    border-radius:30px;
    background-color:#FEDE00;
    position:relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transitions for smooth effect */
    cursor: pointer;
}
.container-main-meals:hover{
    transform: scale(0.9); /* Zoom out to 90% of the original size */
    box-shadow: 0 0 20px black;
}
.container-main-meals i{
    color:orangered;
    position:absolute;
    font-size:40px;
    left:87%;
    bottom:96%;
}
.container-main-meals i:hover{
    transform: scale(0.8);  
}
.container-main-meals img{
    height:250px;
    width: 310px;
    padding:20px;
    border-radius:10%;
    transition: all 0.5s ease;
    
}

.container-main-meals-all{
    height:80px;
    width:100%;
    display:flex;
    justify-content:space-around;
}
.container-meals-left{
    width:80%;
    margin-left:40px;
    color:black;
    font-size:1rem;
    font-weight:600;
}
.container-meals-right{
    width:50%;
    margin-left:110px;
    display:flex;
    flex-direction:column;
    color:black;
    font-weight:5rem;
    position:relative;
    
}
.container-meals-right i{
    font-size:40px;
    color:orangered;
    position:absolute;
    top:-12%;
    left:9%;
}
.container-meals-right span{
    font-size:1.3rem;
    color:black;
    position:absolute;
    top:40%;
}
/* css for the favourite saection when nothing is present in the favourite section */
#go-back{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:400px;
}
.text-a{
    margin-top:50px;
    margin-bottom:50px;
    color:white;
    font-size:2rem;
}
.text-b{
    margin-top:50px;
    color:white;
    font-size:2rem;
}
#btn{
 margin:10px;
 padding:10px; 
 width:150px;
 background-color:white;
 border-radius:5px;
}
#btn a{
    text-decoration:none;
    color:black;
    font-weight:500;
    font-size:1rem;
}
#btn:hover{
    background-color:#FEDE00;
}
#btn a:hover{
 color:white;

}


/* fotter section */
.fotter-div{
    height:500px;
    width:100%;
    background-color:#FEDE00;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
    overflow:hidden;
}
/*soical icons for the div*/
.soical-icons-div{
 display:flex;
 flex-direction:row; 
 justify-content:space-around;
 width:60%;
 margin-top:50px;
 margin-bottom:70px;
 cursor:pointer;
}
.soical-icons{
    border:1px solid black;
    height:60px;
    width:60px;
    display:flex;
    flex-direction:row;
    border-radius:50%; 
}
.soical-icons:hover{
    box-shadow: 5px 5px 10px black;
}
.soical-icons i{
    color:black;
    margin:auto;
}
/* css for the fotter section of the div */
.fotter-options{
    color:black;
    display:flex;
    justify-content:space-around;
    width:90%;
    font-size:1.3rem;
    margin-bottom:90px;
}
/* css for the copyright section of the div */
.fotter-copyrighgt-span{
    margin-bottom:40px;
    color:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


/* media queries for different devices */


@media screen and (max-width:975px){
    .soical-icons-div{
        width:80%;
    }
    .fotter-options{
        width:70%;
        font-size:1rem;
        flex-direction:column;
        text-align:center;
     }
}

@media screen and (max-width:676px){
    .nav-logo i{
        font-size:30px;
    }
    .nav-logo span{
        font-size:1.3rem;
    }
    .like-button{
        font-size:30px;
    }
   
}

@media screen and (max-width:502px){
  
     .nav-right{
        width:70%;
     }
    .nav-meal a{
        padding:7px;
    }
   
}